[data-theme|='crossword'] #clock {
    border: var(--font-color) solid 3px;
    row-gap: 0;
    padding: 0;
    border-radius: 0;
}

[data-theme|='crossword'] #fuzzy-clock {
    background-color: var(--font-color) !important;
    color: var(--background);
    border-radius: 0;
    padding: 1.5vw 2.5vw;
}

[data-theme|='crossword'] .char {
    border: var(--font-color) solid 1px;
    color: var(--font-color);
}

[data-theme|='crossword'] .char.active {
    background-color: var(--font-color);
    color: var(--background);
}

[data-theme|='crossword'] body.focus .char.secondary {
    color: color-mix(in srgb, var(--background), transparent 50%);
}