[data-theme|='crossword'] {
    --clock-font-family: Inter, sans-serif;
}

[data-theme|='crossword'] #flex-clock {
    width: 60vw;
}

[data-theme|='crossword'] #clock,
[data-theme|='crossword'] #flex-clock {
    border: var(--font-color) solid 3px;
    row-gap: 0;
    padding: 0;
    border-radius: 0;
}

[data-theme|='crossword'] #fuzzy-clock {
    background-color: var(--font-color) !important;
    color: var(--background);
    border-radius: 0;
    padding: 1.5vw 2.5vw;
    text-shadow: none;
}

[data-theme|='crossword'] #flex-clock .row {
    gap: 0;
}

[data-theme|='crossword'] .char,
[data-theme|='crossword'] .word {
    border: var(--font-color) solid 1px;
    color: var(--font-color);
}

[data-theme|='crossword'] #flex-clock .row .word {
    flex: 1;
    padding: .5vw 1vw;
}

[data-theme|='crossword'] .char.active,
[data-theme|='crossword'] #flex-clock .row .word.active {
    background-color: var(--font-color);
    color: var(--background);
}

[data-theme|='crossword'] body.focus .char.secondary.active,
[data-theme|='crossword'] body.fuzzy.focus #fuzzy-clock .secondary {
    color: color-mix(in srgb, var(--background), transparent 50%);
}

[data-theme|='crossword'] body.mini #flex-clock {
    background: var(--font-color);
}