[data-theme|='frame'] {
  --quote-font-family: 'Playfair Display', sans-serif;
  --quote-line-height: 1.2;
}

[data-theme='frame-light'] {
  --background: #cefcff;
  --accent-color: #00b9c4;
}

[data-theme='frame-dark'] {
  --background: #001c1e;
  --font-color: #f7f7f7;
  --accent-color: #00c4ce;
}
