[data-theme|='handwriting'] {
  --clock-font-family: 'Indie Flower', sans-serif;
  --clock-line-height: 1;
  --accent-color: #077fc6;
}

[data-theme|='handwriting'][lang=el] {
  --clock-font-family: 'Mynerve', sans-serif;
}

[data-theme|='handwriting'] .char {
  border-bottom: solid 1px color-mix(in srgb, var(--font-color), transparent 75%);
}

[data-theme='handwriting-light'] {
  --background: #fef9e7;
}

[data-theme='handwriting-dark'] {
  --background: #111111;
}
