[data-theme|='marker'] #clock .char {
    position: relative;
}

[data-theme|='marker'] #flex-clock .row {
    gap: 0;
}

[data-theme|='marker'] #flex-clock .word:not(.active) {
    position: relative;
    flex: 1;
}

[data-theme='marker-light'] {
    --marker-color: #333;
}

[data-theme='marker-dark'] {
    --marker-color: #AAA;
}

[data-theme='marker-light'] body.focus {
    --marker-color: #999;
}

[data-theme='marker-dark'] body.focus {
    --marker-color: #333;
}

[data-theme|='marker'] #clock .char:not(.active):after,
[data-theme|='marker'] #flex-clock .word:not(.active):after {
    content: " ";
    position: absolute;
    left: -1px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: .7rem;
    background-color: var(--marker-color);
    transition: all .5s;
}