[data-theme|='retro'] {
  --clock-font-family: 'VT323', sans-serif;
  --clock-line-height: 1;
}

[data-theme|='retro'] #progress-bar {
  height: 100vh;
  opacity: 0.15;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--accent-color));
}

[data-theme|='retro'] .char.active {
  background: var(--accent-color);
  border-left: none;
  border-right: none;
  color: #000;
}

[data-theme|='retro'] .char.active.first {
  border: var(--accent-color) solid 1px;
  border-right: none;
  border-start-start-radius: .5rem;
  border-end-start-radius: .5rem;
}

[data-theme|='retro'] .char.active.last {
  border: var(--accent-color) solid 1px;
  border-left: none;
  border-start-end-radius: .5rem;
  border-end-end-radius: .5rem;
}

[data-theme|='retro'] body.focus .char.secondary {
  color: color-mix(in srgb, var(--font-color), transparent 70%);
  border-color: transparent;
}

[data-theme='retro-light'] {
  --accent-color: #daa908;
  --background: #f8f8f8;
  --background-image: url('/assets/scanlines-bg-light.jpg');
}

[data-theme='retro-dark'] {
  --accent-color: #f1ba08;
  --background: #2c2c2c;
  --background-image: url('/assets/scanlines-bg-dark.jpg');
}
