[data-theme$='dark'] body.focus .char:not(.active) {
  color: color-mix(in srgb, var(--font-color), transparent 90%);
}

[data-theme$='light'] body.focus .char:not(.active) {
    color: color-mix(in srgb, var(--font-color), transparent 96%);
  }

body.focus .char.active.secondary {
  opacity: 0.5;
}
