#fuzzy-clock {
  display: none;
}

body.fuzzy #fuzzy-clock {
  display: block;
}

body.fuzzy #clock {
  display: none;
}

body.fuzzy #fuzzy-clock .secondary {
  transition: color .5s;
}

@media only screen and (max-width: 500px) {
  #fuzzy-clock {
    font-size: 2.5rem;
  }
}