body.fuzzy #clock {
  grid-template-columns: repeat(var(--longest-word, 11), 1fr);
}

body.fuzzy .char:not(.active) {
  display: none;
}

body.fuzzy .char.first {
  grid-column: 1;
}

body.fuzzy .char.idle {
  display: initial;
}

#fuzzy-clock {
  display: none;
}

body.fuzzy #fuzzy-clock {
  display: block;
}

body.fuzzy #clock {
  display: none;
}