body.mini #clock {
  grid-template-columns: repeat(var(--longest-word, 11), 1fr);
}

body.mini .char:not(.active) {
  display: none;
}

body.mini .char.first {
  grid-column: 1;
}

body.mini .char.idle,
body.mini .char.tertiary {
  display: initial;
}

body.mini .char {
  grid-row: var(--row);
  grid-column: var(--col);
}
