body.solid #clock:has(.active) {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

[data-theme$='light'] body.solid:not(.fuzzy) #clock,
[data-theme$='light'] body.solid.fuzzy #clock:has(.active) {
  background-color: #fffa;
}

[data-theme$='dark'] body.solid:not(.fuzzy) #clock,
[data-theme$='dark'] body.solid.fuzzy #clock:has(.active) {
  background-color: #0009;
}
