body.solid #clock:has(.active),
body.solid #clock:has(.idle) {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

[data-theme$='light'] body.solid #clock:has(.active),
[data-theme$='light'] body.solid #clock:has(.idle) {
  background-color: #fffa;
}

[data-theme$='dark'] body.solid #clock:has(.active),
[data-theme$='dark'] body.solid #clock:has(.idle) {
  background-color: #0009;
}
